/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    HEADER
*/
header {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    color: #e53170;
}

.margin-bottom {
    margin-bottom: 30px;
}

.text-alined {
    text-align: center;
}

/* 
    GENERAL
*/
.main-container {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

/* 
    MAIN
*/
.container-cards {
    width: 100%;
}

.clear-fix {
    content: '';
    display: table;
    clear: both;
}

.card {
    float: left;
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 120px;
    background-color: black;
}